<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles/CoursesPage.css}"/>
</head>
<body>
    <header>
        <img th:src="@{/images/logo.png}" alt="A-plus logo">
        <nav class="navBarContainer">
            <ul class="navBar">
                <li><a href="/" class="currentEndpoint navBarLink">Home</a></li>
                <li><a href="/allcourses" class="navBarLink">All Courses</a></li>
                <li><a href="/login" class="navBarLink">Login</a></li>
            </ul>
        </nav>
    </header>
  <main>
    <h1 style="color: #BEBEBE">Welcome to my Course Management System!</h1>
    <h3 style="color: #BEBEBE">This is an exploration into web development with Spring Boot!</h3>
    <br>
    <a href="/allcourses" style="color: rgb(58, 245, 65);">Click here to go to a list of all the available courses!</a>
  </main>
</body>
</html>