<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/styles/CoursesPage.css}"/>
    </head>

    <body>
        <header>
            <img th:src="@{/images/logo.png}" alt="A-plus logo">
            <nav class="navBarContainer">
                <ul class="navBar">
                    <li><a href="/" class="navBarLink">Home</a></li>
                    <li><a href="/allcourses" class="navBarLink">All Courses</a></li>
                    <li><a href="/login" class="currentEndpoint navBarLink">Login</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Log In</h1>
            <form method="post" th:action="@{/login}" >
                <label for="username">Username: </label> <input type="text" id="username" name="username" required/>
                <br>
                <label for="password">Password: </label> <input type="password" id="password" name="password" required>
                <br>
                <input type="submit" value="Submit!" class="action-button" style="background-color: #88D5E9; border-color: lightseagreen"/>
            </form>
        </main>
    </body>
</html>