<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/styles/CoursesPage.css}"/>
</head>
<body>
<h2>Sign Up</h2>
<form method="post" th:action="@{/users/new}" th:object="${user}">
    <label for="username">Username: </label> <input type="text" th:field="*{username}" id="username" required/>
    <br>
    <label for="password">Password: </label> <input type="password" th:field="*{password}" id="password" required/>
    <br>
    <label for="schoolName">School Name: </label> <input type="text" th:field="*{schoolName}" id="schoolName" required/>
    <br>
    <input type="submit" value="Submit!" class="action-button" style="background-color: #88D5E9; border-color: lightseagreen"/>
</form>
</body>
</html>