<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Delete A User</title>
        <link rel="stylesheet" th:href="@{/styles/CoursesPage.css}"/>
    </head>
    <body>
        <header>
            <img th:src="@{/images/logo.png}" alt="A-plus logo">
            <nav class="navBarContainer">
                <ul class="navBar">
                    <li><a href="/" class="navBarLink">Home</a></li>
                    <li><a href="/allcourses" class="navBarLink">All Courses</a></li>
                </ul>
            </nav>
        </header>
        <h2>Enter the username of the user to delete</h2>
        <form method="post" th:action="@{/users/delete/}" th:object="${user}" >
            <label for="username">Username: </label> <input type="text" th:field="*{username}" id="username" required/>
            <br>
            <input type="submit" value="Submit!" class="action-button" style="background-color: #88D5E9; border-color: lightseagreen"/>
        </form>
    </body>
</html>