<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Delete A User</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/styles/CoursesPage.css}"/>
    </head>
    <body>
        <header class="bg-dark">
            <img th:src="@{/images/logo.png}" alt="A-plus logo" class="img-fluid align-self-center">
            <nav class="nav container-fluid justify-content-center" th:object="${isAuthenticated}">
                <a href="/" class="navBarLink nav-link link-primary">Home</a>
                <a href="/allcourses" class="currentEndpoint navBarLink nav-link link-primary">All Courses</a>
            </nav>
        </header>
        <main>
            <h2 class="display-5 form-heading">Enter the username of the user to delete</h2>
            <form method="post" th:action="@{/users/delete/}" th:object="${user}" class="container justify-content-center">
                <label for="username" class="form-label">Username: </label> <input type="text" th:field="*{username}" id="username" class="form-control" required/>
                <br>
                <input type="submit" value="Delete User" class="btn btn-danger"/>
            </form>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <footer class="container-fluid text-center"><a href="/swagger-ui/" class="link-secondary">API Documentation</a></footer>
    </body>
</html>