body {
    background-color: #181a1c
}

nav > a.link-primary {
    color: rgb(129, 209, 238);
}

header {
    display: flex;
    align-items: center;
    /*background-color: #555555;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: .5em;
}

header img {
    max-height: 40px;
    height: 95%;
    padding-left: 10px;
    float: left;
}

ul.navBar {
    max-height: 20%;
    list-style-type: none;
    margin: 0;
    padding: .2em;
}

li {
    display: inline-block;
    margin: .3em 1em;
}

li>form {
    font-size: 15px;
    display: inline;
    padding: 0;
}

.navBarLink {
    margin-bottom: 2px;
    transition: 0.3s;
    border-bottom: 0 solid;
}


.currentEndpoint {
    color: rgb(58, 245, 65);
    transition: 0.3s;
    border-bottom: 2px solid;
}

nav>a.link-primary:hover, .currentEndpoint:hover {
    color: rgb(114, 255, 255);
    /*border-bottom: 1px solid rgb(129, 209, 238) !important;*/

}

main {
    margin-top: 5em;
}

h2 {
    text-decoration: underline;
    color: #e8e6e3;
    text-decoration-thickness: 0.2em;
    text-decoration-color: #398AA4;
    margin: 0 auto auto 4px;
}

a {
    text-decoration: none;
}

.table {
    color: rgba(129, 209, 238, 90%);
}

td {
    max-font-size: 30%;
    text-align: center;
}

th {
    text-align: center;
}

.btn-outline-primary {
    color: rgba(129, 209, 238, 90%);
    border-color: rgba(129, 209, 238, 90%);
}

.btn-outline-primary:hover {
    background-color: rgba(129, 209, 238, 100%);
    color: #fff;
    border-color: rgba(129, 209, 238, 100%);
}

h2.form-heading {
    text-align: center;
}

.logout-form {
    padding: 0;
    align-self: center;
    /*margin-left: auto; Consider figuring out how to make sure the other links don't get shifted all the way to the left*/
}

form.logout-form button {
    align-self: center;
}
.action-button {
    display:inline-block;
    padding:0.5em 1.2em;
    margin:0 0.3em 0.3em 0;
    border:0.1em solid;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color: white;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    transition: 0.2s;
    opacity: 0.6;
}

.action-button:hover {
    opacity: 1;
}

form {
    margin: 0 0 0 4px;
    max-width: 400px;
    padding: 1em .7em .5em 0;
}


label{
    margin:0 0 .25em 0;
    padding:0px;
    display:block;
    font-size: small;
    color: white;
}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: .5em;
    margin: 0 0 .5em 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    outline: none;
    width: 100%;
    font-size: large;
}

input:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #232628;
}